<a class="off" onclick='OctoPrint.simpleApiGet("powerplug")' style="font-size: 1.3em; text-shadow: 0px 0px 2px #000; cursor: pointer; user-select: none">Power: <i id="power_indicator" class="fa-solid fa-toggle-off"></i></a>